<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="DB2Tables"  targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!--数据库链接URL，用户名、密码 -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/miaosha?serverTimezone=GMT%2B8&amp;useUnicode=true&amp;characterEncoding=utf-8"
                        userId="root" password="">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!-- 生成DataObject的包名和位置-->
        <javaModelGenerator targetPackage="org.example.miaosha.dataObject" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!-- 生成映射文件的包名和位置-->
        <sqlMapGenerator targetPackage="mapping" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!-- 生成DAO的包名和位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="org.example.miaosha.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!-- 要生成的表 tableName是数据库中的表名或视图名 domainObjectName是实体类名-->
        <!--
        <table tableName="user_info" domainObjectName="UserDO"
               enableUpdateByExample="false" enableDeleteByExample="false" enableCountByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"/>

        <table tableName="user_password" domainObjectName="UserPasswordDO"
               enableUpdateByExample="false" enableDeleteByExample="false" enableCountByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"/>

        <table tableName="item" domainObjectName="ItemDO"
               enableUpdateByExample="false" enableDeleteByExample="false" enableCountByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"/>

        <table tableName="item_stock" domainObjectName="ItemStockDO"
               enableUpdateByExample="false" enableDeleteByExample="false" enableCountByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"/>

        <table tableName="order_info" domainObjectName="OrderDO"
               enableUpdateByExample="false" enableDeleteByExample="false" enableCountByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"/>

        <table tableName="sequence_info" domainObjectName="SequenceDO"
               enableUpdateByExample="false" enableDeleteByExample="false" enableCountByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"/>
        -->
        <table tableName="promo" domainObjectName="PromoDO"
               enableUpdateByExample="false" enableDeleteByExample="false" enableCountByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"/>

    </context>
</generatorConfiguration>